<div id="bodyCont">

<h1 class="welcomeMsg">Log in</h1>

<div class="formContainer login">
    <%= form_for(:session, url: login_path) do |f| %>
        <%= f.email_field :email, :placeholder => "Email" %>
        <%= f.password_field :password, :placeholder => "Password" %>
        <%= f.submit "Log in", class: "btn-submit" %>
    <% end %>
</div>

<a href="http://foodback-saadnismail.c9users.io:8080/auth/facebook" class="fb-login" >Login via Facebook</a>

</div>